@page "/PlayGround"
@using Newtonsoft.Json.Linq;
<h1>PlayGround</h1>
<p>Using the RandomUser API to make sure that Blazor WASM is ready for API usage</p>
<p>Uses: Newtonsoft.Json.Linq</p>

<img id="myImg" src="@imgSrc" title="Starts off using the random picture tool from PICSUM, then on generating a random user, it will replace that img with the users img" />
<br />
    Name: @name
    <br />
    Gender: @gender
    <br />
    Location: @location
    <br />
    <br />
    <button class="btn btn-primary" @onclick="GetRandomUserJSON">Click me</button>
    <p style="margin-top:10px;">
        Random User: @randomUser
    </p>

