@page "/todolist"
@inject HttpClient Http

<PageTitle>To Do List</PageTitle>

<h1>To Do List</h1>


@if (Items_All == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="ToDoContainer">
        <DevDashboard.Components.ToDoSection Header="To Do" Items=Items_ToDo />
        <DevDashboard.Components.ToDoSection Header="In Progress" Items=Items_InProg />
        <DevDashboard.Components.ToDoSection Header="Complete" Items=Items_Done />
        <DevDashboard.Components.ToDoSection Header="All" Items=Items_All />
    </div>
}
